@import url(https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css);
@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css);
@import url(https://fonts.googleapis.com/css?family=Noto+Sans:400,700);

body {
    font-family: 'Noto Sans', 'Helvetica Neue', Helvetica, sans-serif;
    font-size: 18px;
}

#error-message {
    display: none;
}

.fa-spin {
    display: none;
}
<<<<<<< HEAD

#tasks-list li {
    cursor: pointer;
}
#tasks-list li:hover {
    border: solid;
    border-color: #337ab7;
}

.completed-task {
    color: #AAA;
    text-decoration: line-through;
}

#rating {
    color: #4cb164;
}
=======
>>>>>>> 0e1f3c03a332ce37c172bdee43ad742a11ba4994
